.loading:before {
	content:url(../web/images/loading.gif);
	background-size:contain;
}

#room-list {
	min-height:100px;
}

#drawing-canvas {
	width:500px;
	height:500px;
	border:1px solid black;
}

.room-item {
	border: 1px solid black;
	border-radius: 5px;
	padding:10px;
	float: left;
    width: 250px;
}

.game-item {
	border: 1px solid black;
	border-radius: 5px;
	padding:10px;
	float:left;
	width:230px;
}

#canvas-bar {
	position:relative;
}

#tools {
}

#ok-draw {
	position:absolute;
	right:0;
}

#drawing-name , #drawing-title {
	font-size:24px;
	vertical-align: middle;
}

#user-list {
	min-height:50px;
	padding:10px;
}

.user-item {
	float: left;
	margin:5px;
}

.game-list {
	border: 1px solid gray;
    min-height: 100px;
}

#drawing-to-guess {
	border:1px solid black;
	width:500px;
	height:500px;
}
#drawing-guess {
	margin:10px auto;
	width:500px
}

#drawing-list {

}

.drawing{
	border: 1px solid gray;
	border-radius:10px;	
}

.drawing img {
	border: 1px solid lightgray;
}

.drawing .user {
}

.drawing .word {
	vertical-align: top;
}

.comments {

}

