.loading:before {
	content:url(../web/images/loading.gif);
	background-size:contain;
}

#room-list {
	min-height:100px;
}

#drawing-canvas {
	width:500px;
	height:500px;
	border:1px solid black;
	max-width:100%;
}

.room-item {
	cursor:pointer;
}

.game-item {
	cursor:pointer;
}

#canvas-bar {
	position:relative;
}

#tools {
}

#ok-draw {
	margin-left: 115px;
}

#drawing-name , #drawing-title {
	font-size:24px;
	vertical-align: middle;
}

#user-list {
	min-height:50px;
	padding:10px;
}

.user-item {
	float: left;
	margin:5px;
}

.game-list {
	border: 1px solid gray;
    min-height: 100px;
}

#drawing-to-guess {

}

#drawing-to-guess img{
	max-width:100%;
	border: 1px solid #000000;
}

#drawing-guess {
}

#drawing-list {

}

.drawing{
	border: 1px solid gray;
	border-radius:10px;	
}

.drawing img {
	border: 1px solid lightgray;
	max-width: 100%;
}

.drawing .user {
}

.drawing .word {
	vertical-align: top;
}

.comments {

}

