<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=false">
  <title>画话接力</title>
  <meta name="description" content="画话接力">
  <link href="css/bootstrap.css" rel='stylesheet'/>
  <script src="src/libs/modernizr-2.5.3.min.js"></script>
  <style>
    	body, html { 
				margin: 0; 
				padding: 0;
				overflow: auto; 
				font-family: Arial; 
				font-size: 20px;
				display: inline;
			}
    	#main { 
				margin: 0 auto;
			}
    </style>
</head>
<body>
  <!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

  <!-- Add your site or application content here -->

  <script src="src/libs/jquery-2.0.3.min.js"></script>
  <script src="src/libs/hammer.min.js"></script>
  <script src="src/libs/jquery.hammer.min.js"></script>
  <script src="src/libs/underscore-1.3.4.min.js"></script>
  <script src="src/libs/backbone-min.js"></script>
  <script src="src/libs/bootstrap.min.js"></script>
  <script src="src/libs/firebase.js"></script>
  <script src="src/libs/backbone-firebase.js"></script>
  <script src="src/libs/utils.js"></script>
  <script src="src/libs/sea.js"></script>

  <link href="css/main.css" rel='stylesheet'/>

  <script type="text/javascript">
  var version = "20131002";

  if ( !console ) {
	console = {
		log : function(){}
	}
  }

  seajs.config({
	  base: "./src/libs/",
	  preload: ['seajs-text'],
	  'map': [
		[ /^(.*\.(?:css|js))(.*)$/i, '$1?'+version ]
	  ]
  })

  // 加载入口模块
  seajs.use("./test/testbench");
  </script>
  <!-- end scripts -->
  </div>
  <!-- Setup google analytics -->
  <!--script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script-->

  <div id="main" class='container'>
	<div id='lobby'></div>
	<div id='room'></div>
	<div id='game'></div>
  </div>
  
  <div class="modal fade" id="login-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">登录</h4>
        </div>
        <div class="modal-body">
           <div class="input-group">
			  <span class="input-group-addon glyphicon glyphicon-user"></span>
			  <input type="text" class="form-control" placeholder="用户名" id='user-name'/>
			</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id='login'>登录</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</body>

<script type="template" id='lobby-template'>
<div>
	<div class='row'>
		<div class='input-group col-md-6'>
			<input id='room-name' class='form-control' placeholder='房间名'/><span class='input-group-btn' id='create-room'><button class='btn btn-default'>新建房间</button></span>
		</div>
	</div>
	<p>
		<ul class="nav nav-tabs" id='room-tabs'>
		  <li><a href="#my-room-list" data-toggle="tab">我的房间</a></li>	  
		  <li><a href="#room-list" data-toggle="tab">可加入</a></li>
		  <li style='display:none'><a href="#closed-room-list" data-toggle="tab">已关闭</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane loading" id="my-room-list"></div>
			<div class="tab-pane loading" id="room-list"></div>
			<div class="tab-pane " id="closed-room-list"></div>
		</div>
	</p>
</div>
</script>

<script type="template" id='room-item-template'>
<div class='thumbnail'>
	<div>房间：<label class='room-item-name'><%=name%></label></div>
	<div><h5><%=users.get(ownerId).get("name")%>创建于<%=relative_time_text(timestamp)%></h5></div>
	<div>游戏数：<label class='room-game-number'><%=_.size(games)%></label></div>
	<div>玩家：<label class='room-user-number'><%=_.size(userIds)%></label>人</div>
</div>
</script>

<script type="template" id='room-template'>
<div>
	<div class='row'>
		<div class='col-sm-2'><button type="button" class='btn btn-default' id='to-lobby'><span class='glyphicon glyphicon-chevron-left'></span>返回大厅</button></div>
		<div class='col-sm-10'>房间：<label id='room-name'><%=room.name%></label>
			<button type="button" class='btn btn-primary' id='join-room'>加入</button>
			<button type="button" class='btn btn-default' id='leave-room'>离开</button>
			<button type="button" class='btn btn-danger' id='close-room'>关闭房间</button>		
		</div>
	</div>
	<div class='row'>
		<div class='col-sm-6'><h5 id='owner-name'><%=owner.name%>创建于<%=relative_time_text(room.timestamp)%></h5></div>
	</div>

	<div id='setting-toggle' class='glyphicon glyphicon-chevron-down' style='cursor:pointer'>规则：</div>
	<div class='row' id='setting'>
		<div class='col-sm-6'>
		<label>接力达</label>
		<select id='user-limit' class='form-control' style='display:inline; width:auto'>
			<option value="4">4人</option>
			<option value="5">5人</option>
			<option value="6">6人</option>
			<option value="7">7人</option>
			<option value="8">8人</option>
			<option value="9">9人</option>
			<option value="10">10人</option>
			<option value="11">11人</option>
			<option value="12">12人</option>
			<option value="0">全员</option>
		</select>
		<label>后结束</label>
		</div>
		<div class='col-sm-6'>
		<label>画图时间限制：</label>
		<select id='time-limit' class='form-control' style='display:inline; width:auto' >
			<option value="30">30秒</option>
			<option value="60">60秒</option>
			<option value="90">90秒</option>
			<option value="120">120秒</option>
			<option value="0">无限制</option>
		</select>
		</div>
	</div>
	<div><button id='create-game' type="button" class='btn btn-primary'>创建游戏<span class='glyphicon glyphicon-play'></span></button></div>


	<ul class="nav nav-tabs" id='game-tabs'>
	  <li class=""><a href="#game-list" data-toggle="tab">可接力</a></li>
	  <li><a href="#my-game-list" data-toggle="tab">我在接力</a></li>	  
	  <li><a href="#completed-game-list" data-toggle="tab">已完成</a></li>
	  <li><a href="#user-list" data-toggle="tab">玩家</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane fade " id="game-list"></div>
		<div class="tab-pane fade " id="my-game-list"></div>
		<div class="tab-pane fade " id="completed-game-list"></div>
		<div class="tab-pane fade " id='user-list'></div>
	</div>

</div>
</script>

<script type="template" id='game-item-template'>
<div class='thumbnail'>
	<%if ( status=='close') {%>
		<div>题目：<label class='game-title'></label></div>
	<%}%>
	<div><h5 class='game-create-time'><%=users.get(ownerId).get("name")%>创建于<%=relative_time_text(timestamp)%></h5></div>
	<div>接力数：<label><%=Math.max(_.size(drawings)-1,0)%></label></div>
	<% if ( currentUserId !== "") {%>
		<div>接力人：<label><%=currentUserId%></label></div>
	<% } %>
	<%if ( status=='close') {%>
		<div>吐槽值：<label class='total-comments'></label></div>
	<%}%>
</div>
</script>

<script type="template" id='game-template'>
<div>
	<button id='back-to-room' class='btn btn-default ' type='button'><span class='glyphicon glyphicon-chevron-left'></span>回到房间</button>
	<div style=''>
		<span class='user'>
		</span>：
		<label class='drawing-title'></label>
	</div>
	<div style=''>
		<canvas id='drawing-canvas' width='500' height='500' style=''/>
		<div id='canvas-bar' style='display:none'>
			<div id='tools' class="btn-group" data-toggle="buttons">
			  <label class="btn btn-primary" id="pen1" pen="1">
				<input type="radio" name="options">画笔1
			  </label>
			  <label class="btn btn-primary active" id="pen3" pen="3">
				<input type="radio" name="options">画笔2
			  </label>
			  <label class="btn btn-primary" id="pen5" pen="5">
				<input type="radio" name="options">画笔3
			  </label>
			  <label class="btn btn-primary" id="rubber5">
				<input type="radio" name="options">橡皮
			  </label>				
			</div>
			<button class="btn btn-danger" id="clear-all">清除所有</button>
			<button id='ok-draw' class='btn btn-primary'>确定</button>
		</div>
		<div id='drawing-to-guess' style='display:none;'/>
	</div>
	<div id='drawing-guess' style='display:none;'>
		<span>
			<label>猜猜这是啥？</label>
			<input id='drawing-name'/>
			<button id='ok-guess' class='btn btn-primary' type='button'>确定</button>
		</span>
	</div>
</div>

</script>

<script type="template" id='completed-game-template'>
<button id='back-to-room' class='btn btn-primary' type='button'><span class='glyphicon glyphicon-chevron-left'></span>回到房间</button>
<div id='drawing-list' style=''>
</div>
</script>

<script type="template" id='drawing-template'>
<div class='drawing row' id='<%=id%>'>
	<div class='col-sm-12'>
		<div class='row'>
			<div class='user col-sm-3'></div>
			<div class='word col-sm-9'>
				<% if (word) { %>
					<label><%=word%><label>
				<% } else { %>
					<img src='<%=pic%>'/>
				<% } %>				
			</div>
		</div>
		<div class='row'>
			<label class='comments col-sm-offset-10 col-sm-2'>吐槽<span class="badge comment-count"></span></label>
		</div>
		<div class='row'>
			<div class='comment-list  col-sm-10 col-sm-offset-1' style='display:none'></div></div>
		</div>
	</div>
</div>	
</script>

</html>
